<% if book.favorited_by?(current_user) %>
  <%= link_to book_favorites_path(book.id), method: :delete, remote: true, data: {"turbolinks" => false} do %>
    <span class="liked">
      <i class="fa-solid fa-heart"></i>
      <%= book.favorites.count %>
    </span>
  <% end %>
<% else %>
  <%= link_to book_favorites_path(book.id), method: :post, remote: true, data: {"turbolinks" => false} do %>
    <i class="fa-solid fa-heart"></i>
    <%= book.favorites.count %>
  <% end %>
<% end %>
